@font-face {
  font-family: 'FiraSans-MediumItalic';
  src: url('mozttf/FiraSans-2.001/FiraSans-MediumItalic.otf')
}

h1,h2 {
	font-family: 'FiraSans';
}

h1 {
	font-size: 30pt; 
  font-style:italic;
}

h2 {
	font-size: 25pt; 
}


form.button_to {
    margin:0;
    padding:0;
    display:inline;
}

form.button_to div, form.button_to div input {
    display:inline;
}

#flash_guide {
  background: #F6C851;
  color: black;
  font-size: 100%;
  padding: .5em 1.5em;
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  text-decoration: none;
  border-radius: 2px;
  margin: 2px;
}

#flash_error, #flash_alert {
  background: #F33636;
  color: white;
  font-size: 100%;
  padding: .5em 1.5em;
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  text-decoration: none;
  border-radius: 2px;
  margin: 2px;
}

#flash_notice {
  background: #50AC3F;
  color: white;
  font-size: 100%;
  padding: .5em 1.5em;
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  text-decoration: none;
  border-radius: 2px;
  margin: 2px;
}


.inline div {
  display:inline;
}

.content {
  margin-top: 100px;
  margin: 50px;
  max-width: 750px;
}

.content table {
  margin-bottom: 5px;
}

// BUTTONS
.pure-button-xsmall {
  font-size: 70%;
}

.pure-button-small {
  font-size: 85%;
}

.pure-button-large {
  font-size: 110%;
}

.pure-button-xlarge {
  font-size: 125%;
}

.default {
  font-weight: 600;
}

.not_verified {
  color: #E50009;
}
