<%= link_to "create new alias",
      :user_id => current_user.id,
      :controller => "aliases",
      :action => "new"
%>

<% @aliases.each do |a| %>
  <p>
  <%= link_to a.address,  edit_user_alias_path(current_user.id,a.id) %>
  <%= link_to "delete",   user_alias_path(current_user.id,a), :data => { :confirm => "Are you sure?" }, :method => :delete %>
  </p>
<% end %>
