<ul>
  <li>give a logout link
  <li>allow creation of new alias
</ul>

<p>you are logged in as <%= current_user.email %></p>

<% @aliases.each do |a| %>
  <%= link_to a.address,  edit_user_alias_path(current_user.id,a.id) %>
  <%= link_to "delete",   user_alias_path(current_user.id,a), :data => { :confirm => "Are you sure?" }, :method => :delete %>
<% end %>
