<% if user_signed_in? %>
  <p><%= link_to "Log out", destroy_user_session_path, :method => :delete %></p>
<% else %>
  <p><%= link_to "Register", "users/sign_up" %></p>
  <p><%= link_to "Sign In", "users/sign_in" %></p>
<% end %>
