<style>
  .pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .grid-box {
    padding: 30px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin: 10px;
  }

  .grid-box h2 {
    margin-top: 0px !important;
  }

  .grid-box h3 {
    margin-top: 0px !important;
  }

  .gray .notice {
    color: #666;
    text-align: center;
    font-size: 12px;
    margin-top: 20px;
  }

  .green {
    background: #50AC3F;
  }

  .red {
    background: red;
  }

  .gray {
    background: #DDDDDD;
  }

  .gray li {
    color: #666;
  }

  .dark-gray {
    background: #333;
  }

  #news .date {
    font-size: 12px;
    color: #666;
    min-width: 30px;
  }

  #news .headline {
    font: #666;
    font-weight: 600;
  }

  #news .notice {
    color: #666;
    font-size: 12px;
    margin: 20px;
  }

</style>


<div class="pure-g-r">
  <div class="pure-u-1-2">
    <div class="grid-box gray">
      <h3>What you get</h3>
      <ul>
        <li>5 email aliases.
        <li>1 forwarding address.
        <li>Unlimited messages.
        <li>Maximum email size of 50MB.
      </ul>
      <div class="pure-controls" style="text-align: center">
        <%= button_to "Register For Free", :register, :class => "pure-button pure-button-primary", :method => :get %>
      </div>
      <div class="notice">* More plans are coming soon.</div>
    </div>
  </div>
</div>

<div id="news">
  <h2>News</h2>
  <div class="article">
    <span class="date">18/10/2013</span>
    <span class="headline"><a href="http://www.independent.co.uk/news/world/americas/nsa-snoops-on-email-contact-lists-edward-snowden-leaks-show-8882254.html">Don't store your obsqure addresses in any cloud-based address books.</a></span>
  </div>

  <div class="notice">If you have something relevant that you believe would be of interest to our users, please send a link to news@obsqure.net</div>
</div>

