<h2>Here is what we do</h2>

<div class="pure-g">
  <div class="pure-u-1-3">
    <h3>FREE</h3>
    <ul>
      <li>5 Email Aliases.
      <li>Unlimited messages.
      <li>Maximum email size of 50MB.
    </ul>
  </div>

  <div class="pure-u-1-3">
    <h3>BASIC</h3>
    <ul>
      <li>Unlimited email aliases.
      <li>Unlimited messages.
      <li>Maximum email size of 50MB.
    </ul>
    <div class="price">$1 per month</div>
  </div>

  <%
  #<div class="pure-u-1-3">
  #  <h3>PRO</h3>
  #  <ul>
  #    <li>Unlimited generated email aliases.
  #    <li>IMAPS access.
  #    <li>500MB mailbox limit.
  #    <li>Redirect each alias to an address of your choice.
  #    <li>Custom Aliases
  #    <li>Custom Domains
  #  </ul>
  #  <div class="price">$2 per month</div>

  #</div>
  %>

</div>
