<h2>What we do</h2>
<p>Obsqure is all about hiding your real email address behind aliases. We do
that by offering an aliases which can forward email to your real email
account.</p>

<h2>What you get</h2>
<ul>
  <li>5 email aliases.
  <li>1 forwarding address.
  <li>Unlimited messages.
  <li>Maximum email size of 50MB.
</ul>

* More plans are coming soon.

<h2>Why</h2>
<p>Your email address is a token that follows your online activities everywhere.
Unfortunately most services require you to provide them with a valid email
address to simply use their system.

<p>We all use online services and those online services often use or share that
information to third-parties. Our real identity can be tracked with just a
single token that follows us around, the token that is being used is our email
addresses.

<p>If we could disconnect ourselves from our email address as a unique
identifier then any information gathered regarding that identity could not be
updated with any new information that is later discovered.

<p>What was needed was a secure, private, permanent email solution that made it
easy to create new addresses.

<ul>
  <li>Some email providers offer this service but require a fully, fledged email service.
  <li>Some offer temporary email addresses but they are not private or permanent.
  <li>All of them made you think up an address each time you wanted a new alias.
</ul>
