<h2>Contact</h2>

<div class="table">
  <table>
    <tbody>
      <tr>
        <td style="width: 200px;"><b>Support:</b></td>
        <td>support@obsqure.net</td>
      </tr>
      <tr>
        <td><b>Ideas</b></td>
        <td>ideas@obsqure.net</td>
      </tr>
    </tbody>
  </table>
</div>
