<h2>Privacy Policy</h2>
A privacy policy you can understand.

<h3>Personal Information</h3>
<ol>
  <li>All content will remain your property and under no circumstance be shared with a third party except as noted <a href="#third_parties">here</a>.</li>
  <li>No emails will be read, either by human or machine except for the purpose of delivering the email.</li>
  <li>No email will be stored on this server except for the duration of delivery.</li>
  <li>At any time you may terminate your account, at which time all...</li>
</ol>

<h3>Logging</h3>
<ol>
  <li>Logs are kept for the purpose of performance monitoring only. The exact formats of the log files can be seen <a href="/blah">here</a>.</li>
  <li>All logs will be removed after 48 hours with the exception of metric data used to generate graphs.</li>
</ol>

<h3>Third-Parties</h3>
<ol>
  <li>Google Analytics - Receives anonymous details to track usage metrics.</li>
  <li>Any information I have relating to your account will be turned over to the authorities only after the presentation of a court order</li>
</ol>

