<h2>Privacy Policy</h2>
<p>I aim to be completely open about how and where your data is stored. If you
have any questions, you are welcome to send an email to
support@obsqure.net.</p>

<h3>Personal Information</h3>
<ol>
  <li>All provided information remains the property of the account holder.</li>
  <li>At any time you may terminate your account, at which time all live data will be deleted or anonymised. It will take up to 14 days for all backups to be purged.</li>
  <li>Email will be stored Obsqure servers only for the duration of delivery.</li>
  <li>No email will be read, either by human or machine except for the purpose of delivering said email.</li>
  <li>All logs are stored for a maximum of 14 days, after which they are destroyed.</li>
</ol>

<h3>Legal Stuff</h3>
<p>I am no lawyer and at this time have little knowledge of what the
authorities are and are not allowed to do. Until I'm required to consult a
lawyer for myself regarding the actions and personal information of a user I
will refer you to <a
href="http://blog.fastmail.fm/2013/10/07/fastmails-servers-are-in-the-us-what-this-means-for-you/">a
recent blog post</a> by Fastmail.fm, another Australian company.

<h3>Where Your Data is Stored.</h2>
<ul>
  <li>Database Servers - Linode</li>
  <li>Mail Servers - Linode</li>
  <li>Web Servers - Linode</li>
  <li>User Transaction Logs - NewRelic</li>
  <li>Database Backups - Encrypted then uploaded to Amazon S3</li>
  <li>Web Logs - Encrypted then uploaded to Amazon S3</li>
  <li>Mail Logs - Encrypted then uploaded to Amazon S3</li>
</ul>

<h3>Privacy Policies of Third-Parties</h3>
<ul>
  <li><a href="https://www.linode.com/privacy.cfm">Linode</a></li>
  <li><a href="http://newrelic.com/privacy">NewRelic</a></li>
  <li><a href="http://aws.amazon.com/privacy/">Amazon Web Services</a></li>
</ul>
