<h2>Privacy Policy</h2>

<h3>Personal Information</h3>
<ol>
  <li>All provided information remains the property of the account holder.</li>
  <li>At any time you may terminate your account, at which time all live data will be deleted or anonymised. It will take up to 14 days for all backups to be purged.</li>
  <li>Email will be stored Obsqure servers only for the duration of delivery.</li>
  <li>No email will be read, either by human or machine except for the purpose of delivering said email.</li>
</ol>

<h3>Legal Stuff</h3>
<p>I am no lawyer and at this time have little knowledge of what the
authorities are and are not allowed to do. Until I'm required to consult a
lawyer for myself regarding the actions and personal information of a user I
will refer you to <a
href="http://blog.fastmail.fm/2013/10/07/fastmails-servers-are-in-the-us-what-this-means-for-you/">a
recent blog post</a> by Fastmail.fm, another Australian company.

<h3>Privacy Policies of Third-Parties</h3>
<ul>
  <li><a href="https://www.linode.com/privacy.cfm">Linode</a> - Server Hosting</li>
  <li><a href="http://newrelic.com/privacy">NewRelic</a> - Performance monitoring</li>
  <li><a href="http://aws.amazon.com/privacy/">Amazon Web Services</a> - S3 and Route53</li>
</ul>

