<h2>Terms Of Service</h2>
<ol>
  <li>
    You understand that if you loose your password and there is no email
    addresses associated with your account, it is not possible for us recover
    your account.
  </li>
  <li>
    You understand that we offer no garantee of service availability, although
    we aim for 100% uptime.
  </li>
  <li>
    You understand that if you delete an email alias, it is not possible to
    re-instate that alias to your account.
  </li>
  <li>
    You understand that we may terminate or suspend your account at any time or
    any reason at our sole discression.
  </li>
</ol>
