<h2>What is Obsqure</h2>

<p>
  Obsqure is a service designed to help you maintain your privacy in an
  ever-increasingly surveilled world. We provide you with a means to easily
  create new email addresses which forward through to your real account.
</p>

<p>
  Your email address has become the de facto key to identify you as an individual
  on the internet. They are unique, they are easy to verify and they are
  relatively persistent.
<p>

<p>
  Online services each collect an amount of information about you. Individually,
  that is fine, collectively it's your online identity containing who you are,
  your interests, your friends, your location, your likes and dislikes, whether
  you have children, your martial status, your income, your education, etc.
<p>

<p>
  Cloud-Computing (the provisioning of computer resources to a virtually
  limitless scale at the whim of the account holder) has lowered the barrier of
  entry to monetise your personal information, infer new information from known
  information, cross-reference data and indefinitely store it.
<p>

<p>
  The US government at least has secretly created a system to merge together
  these already large private collections of data to run their own analysis
  against it.
<p>

<p>
  Information that you <i>share</i> today, may well persist forever. Information that
  you provide with the understanding that it is private, may be taken and made
  public. There is no certainty as to how that information may be used in the
  future.
</p>

<p>
  Historically we have always been recording information about ourselves. What
  is different about the internet is that everything can be recorded, and often
  is. Perhaps just meta data like an entry in a log file. Additionally, there
  are now the mechanisms and systems to co-ordinate, share and search data that
  has been recorded. If we continue as we are, as time goes on, information
  will not be forgotten. Everything we say and every place we go physically or
  virtually will be recorded. Who we were online (our IP and email address) at
  any point in time could be found. This is incomparable to anything ever
  before.
</p>

<p>
  The only way to use the modern internet with any form of privacy is to
  disassociate your real self from the services you use.
</p>

<ul>
  <li>Send your traffic through a VPN and disassociate yourself from your IP address.</li>
  <li>Make up some pseudo names and disassociate yourself from your real name.</li>
  <li>Send your email through Obsqure and disassociate yourself from your email address.</li>
  <li>And lastly, use a password manager to remember all these identities.</li>
</ul>

<h2>How It Works</h2>
<ol>
  <li>Create a new Obsqure alias and define the real email account you'd like it's messages to be forwarded to.</li>
  <li>Sign up for a service you'd like to use and provide them with with the email address of your new alias.</li>
  <li>Finally, save the details to your password manager for next time you want to sign in.</li>
</ol>
