<h1>FAQ</h1>
<% 
  ::Linguistics.use(:en)

  questions = [
    { 
      :question => "What happens when I delete an address?",
      :answer =>   "it gets thrown back into the pool and made available for
                    someone else to use."
    }
  ]
%>

<% questions.each do |q| %>
  <p><b><%= q[:question] %></b><br /><%= q[:answer] %></p>
<% end %>
