<% 
  ::Linguistics.use(:en)

  questions = [
    {
      :question => "How can I send email from my address?",
      :answer =>   "You can't and I don't expect I will make it possible in the
                    future. Preventing abuse will be a nightmare and
                    detrimentally affect all users experience."
    },
    {
      :question => "Can I redirect my email to an address I already own?",
      :answer =>   "not at this stage, but I intend to add that feature soon."
    },
    {
      :question => "How much does it cost?",
      :answer =>   "Free for now. I intend to start charging a reasonable fee
                    at a later date."
    },
    { 
      :question => "What happens when I delete an address?",
      :answer =>   "it gets thrown back into the pool and made available for
                    someone else to use."
    },
    {
      :question => "How do I access my email?",
      :answer =>   "Via imap"
    }
  ]
%>

<% questions.each do |q| %>
  <p><b><%= q[:question] %></b><br /><%= q[:answer] %></p>
<% end %>
