/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require pure
 *= require_self
 *= require_tree .
 */

@font-face {
  font-family: 'FiraSans-MediumItalic';
  src: url('mozttf/FiraSans-2.001/FiraSans-MediumItalic.otf')
}

html, body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

p {
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}

select {
  height: 30px;
}

h2,h3 {
	font-family: 'FiraSans';
  margin: 0px !important;
  margin-top: 30px !important;
  margin-bottom: 15px !important;
}

h1 {
	font-family: 'FiraSans';
	font-size: 30pt; 
  font-style:italic;
}

h2 {
	font-size: 25pt; 
}

h3 {
  font-size: 20px;
  font-style:italic;
  padding-left: 20px;
}

form.button_to {
    margin:0;
    padding:0;
    display:inline;
}

form.button_to div, form.button_to div input {
    display:inline;
}

li {
  margin-bottom: 10px !important;
}

#login {
  float: right;
  padding-bottom: 0px;
  padding-right: 10px;
  text-align: right;
  max-width: 750px;
}

#login .pure-button {
  zoom: 0.85 !important
}

#header {
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #999;
}

#header .title {
  font-size: 50px;
  text-decoration: none;
  font-style: none; 
  margin-bottom: 0px;
}

#header .title a {
  text-decoration: none;
  color: black;
}

#header #action-menu {
  width: 50%;
}

#header #user-menu {
  width:30%;
  text-align: left;
  float: right;
}
#flash_guide {
  background: #F6C851;
  color: black;
  font-size: 100%;
  padding: .5em 1.5em;
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  text-decoration: none;
  border-radius: 2px;
  margin: 2px;
}

#flash_error, #flash_alert {
  background: #F33636;
  color: white;
  font-size: 100%;
  padding: .5em 1.5em;
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  text-decoration: none;
  border-radius: 2px;
  margin: 2px;
}

#flash_notice {
  background: #50AC3F;
  color: white;
  font-size: 100%;
  padding: .5em 1.5em;
  border: 1px solid #999;
  border: 0 rgba(0,0,0,0);
  text-decoration: none;
  border-radius: 2px;
  margin: 2px;
}

.inline div {
  display:inline;
}

#main {
  margin-left: 50px;
  max-width: 750px;
  position: relative;
  Min-height: 100%;  /* for all other browsers */
}

#content {
  padding-bottom: 150px;
}

#content table {
  width: 100%;
  margin-bottom: 30px;
}

#content td {
  padding: 5px;
}


#footer {
  border-top: 1px solid #999;
  bottom: 0px;
  height: 100px;  /* This value is the height of your footer */
  margin-left: 50px;
  position: absolute;
  text-align: center;
  width: 100%;
}

#footer li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  font-size: 70%;
}

#footer a { // a:link a:visited {
  color: #999;
}

.grid-content {
  padding: 100px;
}
